<% if session[:user_id] %>
  <%= link_to 'Logout', logout_path, method: :delete %>
  <%= link_to 'My Page', user_path(current_user) %>
<% else %>
  <%= link_to 'Login', login_path %>
<% end %>

<%= form_with(url: tasks_path, method: :get) do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name, value: params[:name] %>

  <%= form.label :status %>
  <%= form.select :status, Task::STATUS, { include_blank: '全て' }, { selected: params[:status] } %>

  <%= form.submit 'Search' %>
<% end %>


<h1>Tasks</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>User</th> <!-- 追加 -->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <% @tasks.each do |task| %>
    <tr>
      <td class="p-2"><%= task.name %></td>
      <td class="p-2"><%= task.description %></td>
      <td class="p-2"><%= task.user&.email %></td> <!-- 追加＆修正 -->
      <td><%= link_to 'Show', task_path(task), class: 'btn btn-primary' %></td>
      <td><%= link_to 'Edit', edit_task_path(task), class: 'btn btn-success' %></td>
      <td><%= link_to 'Destroy', task_path(task), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>

    </tr>
  <% end %>
  </tbody>

</table>

<br>

<%= link_to 'New Task', new_task_path %>
<%= paginate @tasks %>
<%= link_to 'Sort by deadline', tasks_path(sort_expired: "true") %>
<%= link_to 'Sort by priority', tasks_path(sort_priority: 'true') %>

